<div class="scroll-wrapper" data-controller="scroll-animation">

  <section class="scroll-selection-nav">
    <%= render "shared/navbar" %>
  </section>

  <section class="scroll-selection">
    <div class="kassi-container" data-controller="kassi-scroll">
      <%= image_tag "kassi.png", alt: "Kassi Image", class: "kassi-image" %>
    </div>

    <div class="backdrop-title" data-controller="kassi-scroll">
      <h1 class="title-aron">ARON</h1>
      <h1 class="title-hannes">HANNES</h1>
    </div>
  </section>


  <%# <section class="scroll-selection" >
  <div style="background-color: red; height: 100vh;">
    </div>
  </section> %>

  <section class="scroll-selection" id="about">
  <div class="about-row">
    <%= image_tag "Portrait 1.png", alt: "About Image", class: "about-image" %>
    <div class="about-text">
      <h3>ABouT</h3>
      <div class="upper-text">
        <p>Aron Hannes is an Icelandic artist and songwriter crafting a unique blend of Alt-Soul and Indie R&B. With deep roots in storytelling, he merges raw emotion with dynamic melodies, creating music that feels both intimate and expansive. Drawing inspiration from R&B, soul, pop, and gospel, his sound is ever-evolving—pushing boundaries while staying true to his artistic vision. Known for his versatility and passion for honest, genre-blurring music, Aron brings a distinct voice to the alternative R&B scene. Whether writing for himself or collaborating with others, his dedication to growth and authenticity continues to shape his journey as an artist.</p>
      </div>
    </div>
  </div>
</section>

<div class="scroll-selection" id="fullpage">
  <section class="fullpage-section threejs-section" data-gsap-scroll-target="section">
    <div id="three-container" data-controller="three"></div>
  </section>
</div>

<section class="scroll-selection" id="music-platforms" data-gsap-scroll-target="section">
    <ul class="music-list">
      <li>
        <a href="https://open.spotify.com/artist/3YWoe6haPoiQdq7GaQz2OR?si=eaM94hB-SkGdMmlK50nF4A" target="_blank">
          <%= image_tag "Spotify.svg", alt: "Spotify" %>
          SPOTIFY
        </a>
      </li>
      <li>
        <a href="https://music.apple.com/is/artist/aron-hannes/820717161" target="_blank">
          <%= image_tag "applemusic.svg", alt: "Apple Music" %>
          APPLE MUSIC
        </a>
      </li>
      <li>
        <a href="https://deezer.page.link/XSZdQHGWG5SsZhzE7" target="_blank">
          <%= image_tag "deezer.svg", alt: "Deezer" %>
          DEEZER
        </a>
      </li>
      <li>
        <a href="https://music.youtube.com/channel/UCG5wQ2UMfLYD5lp8MAbk6Zg?si=Se8nOTEe2Vvr014o" target="_blank">
          <%= image_tag "youtube-music.svg", alt: "YouTube Music" %>
          YOUTUBE MUSIC
        </a>
      </li>
      <li>
        <a href="https://tidal.com/browse/artist/7421898" target="_blank">
          <%= image_tag "tidal.svg", alt: "Tidal" %>
          TIDAL
        </a>
      </li>
    </ul>
  </section>



  <section class="scroll-selection-footer">
<%= render "shared/footer" %>
</section>

</div>
</div>

<%# <script>
document.addEventListener('DOMContentLoaded', () => {
  const sections = document.querySelectorAll('.scroll-selection');

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('active');
      } else {
        entry.target.classList.remove('active');
      }
    });
  }, {
    threshold: 0.1 // Ensures section is mostly visible before triggering animation
  });

  sections.forEach(section => {
    observer.observe(section);
  });

  // Re-observe sections when the page is shown again
  window.addEventListener('pageshow', () => {
    sections.forEach(section => {
      observer.observe(section);
    });
  });

  // Check visibility on load
  sections.forEach(section => {
    if (section.getBoundingClientRect().top < window.innerHeight) {
      section.classList.add('active');
    }
  });
});
</script> %>
