<div class="contact-container">
  <h2>Contact Me</h2>

  <%= form_with model: @contact_form, url: contact_path, method: :post, local: true do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div>
      <%= f.label :message %>
      <%= f.text_area :message, required: true %>
    </div>

    <%= f.submit "Send Message" %>
  <% end %>

  <% if flash[:notice] %>
    <p class="flash-message success"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p class="flash-message error"><%= flash[:alert] %></p>
  <% end %>
</div>
